body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
 
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  

  /**** Menu Style *****/

  nav {
    position: absolute;
    /*top: 50%;*/
    top: 0%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 10%;
    padding:10%;
    /*transform: translateY(-50%);*/
  }
  
  nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: yellow;
  }
  
  nav a:nth-child(1):after {
    background-color: red;
  }
  
  nav a:nth-child(2):before {
    background-color: #00e2ff;
  }
  
  nav a:nth-child(2):after {
    background-color: #89ff00;
  }
  
  nav a:nth-child(3):before {
    background-color: purple;
  }
  
  nav a:nth-child(3):after {
    background-color: palevioletred;
  }
  
  nav a:nth-child(4):before {
      background-color: rgb(0, 85, 128);
    }
    
    nav a:nth-child(4):after {
      background-color: rgb(45, 19, 28);
    }
  
  #indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 25%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 50%;
    background: linear-gradient(130deg, purple, palevioletred);
  }
  
  nav a:nth-child(4):hover ~ #indicator {
      left: 75%;
      background: linear-gradient(130deg, rgb(83, 6, 83), rgb(45, 24, 31));
    }
  